{% extends 'base.html' %}
{% load static %}
{% load beautify_status %}


{% block style %}
<link rel="stylesheet" href="{% static 'admin_panel/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet"
      href="{% static 'admin_panel/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block title %}
Список новостей
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-10" style="text-align: center;">
        <h2>Список новостей</h2>
    </div>
    <div class="col-2">
        <a href="{% url 'admin_panel:add_news_admin' %}" class="btn btn-outline-primary">Создать новость</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-default">
                <div class="card-body">
                    <table id="news" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Заголовок</th>
                            <th>Дата создания</th>
                            <th>Статус</th>
                            <th>Изменить</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for elem in news %}
                                <tr>
                                    <th>{{ elem.title }}</th>
                                    <th>{{ elem.publication_date }}</th>
                                    <th>{{ elem.status|beauty_filter }}</th>
                                    <th><a href="{% url 'admin_panel:edit_news_admin' elem.pk %}">Изменить</a></th>
                                    <th><a href="{{ elem.get_delete_url }}">Удалить</a></th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>

<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'admin_panel/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script>
  $(document).ready(function(){
       $("#news").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
    });
  });
</script>
{% endblock %}