{% extends 'base.html' %}
{% load beautify_status %}

{% block title %}
Новости
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-10" style="text-align: center;">
        <h2>Список новостей</h2>
    </div>
    <div class="col-2">
        <a href="{% url 'admin_panel:add_news_admin' %}" class="btn btn-outline-primary">Создать новость</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped table-valign-middle">
                        <thead>
                        <tr>
                            <th>Заголовок</th>
                            <th>Дата создания</th>
                            <th>Статус</th>
                            <th>Изменить</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for elem in news %}
                                <tr>
                                    <th>{{ elem.title }}</th>
                                    <th>{{ elem.publication_date }}</th>
                                    <th>{{ elem.status|beauty_filter }}</th>
                                    <th><a href="{% url 'admin_panel:edit_news_admin' elem.pk %}">Изменить</a></th>
                                    <th><a href="{{ elem.get_delete_url }}">Удалить</a></th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}