{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'admin_panel/css/scheme.css' %}">
{% endblock %}

{% block title %}Зал кинотеатра{% endblock %}

{% block header %}
{% if form.errors %}
<div class="container-fluid">
    {% for tag, error in form.errors.items %}
    <div class="row">
        <div class="col alert alert-warning" role="alert">
            {{tag}} - {{error.as_text}}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            {% if object %}
            <h4>Редактирование информации о зале</h4>
            {% else %}
            <h4>Добавить новый зал для кинотеатра "{{ cinema }}"</h4>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-default">
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="cinema" value="{{ cinema.pk }}">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group limit_width">
                                    <label for="hallNumber">Номер зала</label>
                                    <input type="number" value="{{ next_number }}" name="number" class="form-control">
                                 </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="cinema">Кинотеатр</label>
                                    <select name="cinema" id="cinema" class="form-control" disabled>
                                        <option value="{{ cinema.pk }}" selected>{{ cinema.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Описание зала</label>
                            {{form.description}}
                        </div>
                        <div class="form-group">
                            <label for="on_top_banner">Верхний баннер</label>
                            <div class="row align-items-center">
                                <div class="col-3">
                                    {% if object.on_top_banner.url %}
                                    <img src="{{form.instance.on_top_banner.url}}" alt="Постер" id="show_on_top_banner"
                                         width="250" height="200" name="on_top_image_preview_1">
                                    {% else %}
                                    <img src="{% static 'images/default_form_image.png' %}" alt="Постер"
                                         id="show_on_top_banner" name="on_top_image_preview_1"
                                         width="250" height="200">
                                    {% endif %}
                                </div>
                                <div class="col-9">
                                    {{form.on_top_banner}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="schema">Схема зала</label>
                            <div class="row align-items-center">
                                <div class="col-3">
                                    {% if object.schema.url %}
                                    <img src="{{form.instance.schema.url}}" alt="Схема" id="show_scheme"
                                         width="250" height="200" name="scheme_image_preview_2">
                                    {% else %}
                                    <img src="{% static 'images/default_form_image.png' %}" alt="Схема"
                                         id="show_scheme" name="scheme_image_preview_2"
                                         width="250" height="200">
                                    {% endif %}
                                </div>
                                <div class="col-9">
                                    {{form.schema}}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <h5>Доступные форматы</h5>
                            <div class="form-check form-check-inline">
                               {{ form.is_vip_hall }}
                                <label for="isVipHall" class="form-check-label">Vip-зал</label>
                            </div>
                            <div class="form-check form-check-inline">
                                {{form.is_2d}}
                                <label for="3DType" class="form-check-label">2D</label>
                            </div>
                            <div class="form-check form-check-inline">
                                {{form.is_3d}}
                                <label for="3DType" class="form-check-label">3D</label>
                            </div>
                            <div class="form-check form-check-inline">
                                {{form.is_imax}}
                                <label for="imaxType" class="form-check-label">Imax</label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            {{ form.schema_json }}
                        </div>
                        <div class="form-group">
                            <label for="">Построить схему зала</label>
                            <h5>Текущее количество мест: <span id="seats_amount">{{ form.instance.seats_amount }}</span></h5>
                            <div class="row">
                                <div class="col text-center">
                                     <img src="{% static 'images/screen.jpg' %}" alt="" width="800">
                                </div>
                            </div>
                            <div id="scheme_builder" class="text-center" style="margin-top:50px;">

                            </div>
                            <button type="button" id="save_scheme" class="btn btn-outline-primary"
                            style="margin-top:15px;">Сохранить схему</button>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="formset">Галлерея</label>
                            {{formset.management_form}}
                            {% include 'formset_template.html' %}
                        </div>

                        <hr>
                        <div class="form-group">
                            <label for="">Seo</label>
                            {% include 'seo.html' with form=seo_form %}
                        </div>

                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                                {% if object %}
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#exampleModal">
                                    Удалить
                                </button>
                                {% include 'delete_modal.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/update_img_after_upload.js' %}"></script>
<script src="{% static 'admin_panel/js/hall/schema.js' %}"></script>
<script src="{% static 'admin_panel/js/hall/builder.js' %}"></script>

<script>
    $("#on_top_banner").change(function () {
        setPreview(this, '1', 'on_top');
    });
    $("#schema").change(function(){
        setPreview(this, '2', 'scheme');
    });
</script>
<script>
    var seats_amount = $('#seats_amount');
        let default_schema = {  "row_0": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_1": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_2": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_3": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_4": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_5": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_6": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_7": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_8": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_9": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_10": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_11": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_12": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_13": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_14": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_15": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_16": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_17": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_18": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_19": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
						"row_20": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
					}
		try{
		    let schema = JSON.parse({{ schema_json|safe }})
		    var builder = new Builder(schema, renderSchema);
	        builder.render_schema();
		}catch{
		     var builder = new Builder(default_schema, renderSchema);
		    builder.build_schema_for_interact();
		}
    $('#save_scheme').on('click', function(){
        builder.saveSchema();
    });
</script>
{% endblock %}
