{% extends 'base.html' %}
{% load static %}

{% block header %}
{% if form.errors %}
<div class="container-fluid">
    {% for tag, error in form.errors.items %}
    <div class="row">
        <div class="col alert alert-warning" role="alert">
            {{tag}} - {{error.as_text}}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            {% if object %}
            <h4>Редактирование информации о зале</h4>
            {% else %}
            <h4>Добавить новый зал для кинотеатра "{{ cinema }}"</h4>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-default">
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="cinema_id" value="{{ cinema.pk }}">
                        <div class="form-group limit_width">
                            <label for="hallNumber">Номер зала</label>
                            {{form.number}}
                        </div>
                        <div class="form-group">
                            <label for="">Описание зала</label>
                            {{form.description}}
                        </div>
                        <div class="form-group">
                            <label for="on_top_banner">Верхний баннер</label>
                            <div class="row align-items-center">
                                <div class="col-3">
                                    {% if object.on_top_banner.url %}
                                    <img src="{{form.instance.on_top_banner.url}}" alt="Постер" id="show_on_top_banner"
                                         width="250" height="200" name="on_top_image_preview_1">
                                    {% else %}
                                    <img src="{% static 'images/default_form_image.png' %}" alt="Постер"
                                         id="show_on_top_banner" name="on_top_image_preview_1"
                                         width="250" height="200">
                                    {% endif %}
                                </div>
                                <div class="col-9">
                                    {{form.on_top_banner}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="schema">Схема зала</label>
                            <div class="row align-items-center">
                                <div class="col-3">
                                    {% if object.schema.url %}
                                    <img src="{{form.instance.schema.url}}" alt="Схема" id="show_scheme"
                                         width="250" height="200" name="scheme_image_preview_2">
                                    {% else %}
                                    <img src="{% static 'images/default_form_image.png' %}" alt="Схема"
                                         id="show_scheme" name="scheme_image_preview_2"
                                         width="250" height="200">
                                    {% endif %}
                                </div>
                                <div class="col-9">
                                    {{form.schema}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Построить схему зала</label>
                            <div id="scheme_builder">

                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="formset">Галлерея</label>
                            {{formset.management_form}}
                            {% include 'formset_template.html' %}
                        </div>

                        <hr>
                        <div class="form-group">
                            <label for="">Seo</label>
                            {% include 'seo.html' with form=seo_form %}
                        </div>

                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                                {% if object %}
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#exampleModal">
                                    Удалить
                                </button>
                                {% include 'delete_modal.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/update_img_after_upload.js' %}"></script>

<script>
    $("#on_top_banner").change(function () {
        setPreview(this, '1', 'on_top');
    });
    $("#schema").change(function(){
        setPreview(this, '2', 'scheme');
    });

</script>
{% endblock %}
