{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cinema/index.css' %}">
    {% block style %}{% endblock %}

</head>
<body {% if BackgroundImage %} style=" background: url({{ BackgroundImage.image.url }}); background-size:100%; background-size: 100%; background-attachment: fixed; margin:0;" {% endif %}>
{% if OnTopBanner %}
<div class="row" style="margin-right:0px;">
    <div id="carouselOnTopBanner" class="carousel slide" data-ride="carousel" style="width:100%;">
      <div class="carousel-inner">
            {% for image in OnTopBanner.images.all %}
                 <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" alt="..." width="100" height="100">
                </div>
            {% endfor %}
      </div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row" style="align-items:center; margin-top:15px;">
        <div class="col-3">
            <div>
                <a href="{% url 'cinema:main_page' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="200" height="100" class="img-thumbnail"></a>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-3">
                    <form action="">
                        <input type="text" class="form-control" placeholder="Поиск...">
                    </form>
                </div>
                <div class="col-1"><img src="{% static 'images/social/facebook.png' %}" alt="" width="40" height="40"></div>
                <div class="col-1"><img src="{% static 'images/social/twitter.png' %}" alt="" width="40" height="40"></div>
                <div class="col-1"><img src="{% static 'images/social/youtube.png' %}" alt="" width="40" height="40"></div>
                <div class="col-1"><img src="{% static 'images/social/instagram.png' %}" alt="" width="40" height="40"></div>
                <div class="col" style="color: white;">
                    <div class="row">
                        <div class="col">
                            {{ MainPage.phone_number1 }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ MainPage.phone_number2 }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:15px;">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                        <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample10" style="">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:show_list_movies' %}">Афиша</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:showtime' %}">Расписание</a>
                            </li>
                              <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:show_list_movies_soon' %}">Скоро</a>
                            </li>
                              <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:cinema_list' %}">Кинотеатры</a>
                            </li>
                              <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:list_ads' %}">Акции</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle black-text" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О кинотеатре</a>
                              <div class="dropdown-menu" aria-labelledby="dropdown10">
                                    <a class="dropdown-item" href="{% url 'cinema:list_news' %}">Новости</a>
                                    {% if Advertisement %}
                                    <a class="dropdown-item" href="{% url 'cinema:advertisement' %}">Реклама</a>
                                    {% endif %}
                                    {% if CafeBar %}
                                    <a class="dropdown-item" href="{% url 'cinema:cafe_bar' %}">Кафе</a>
                                    {% endif %}
                                    {% if MobileApp %}
                                    <a class="dropdown-item" href="{% url 'cinema:mobile_app' %}">Мобильные приложения</a>
                                    {% endif %}
                                    {% if VipHall %}
                                        <a class="dropdown-item" href="{% url 'cinema:vip_hall' %}">Vip-залы</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="#">Контакты</a>
                              </div>
                            </li>
                              {% if request.user.is_authenticated %}
                                  <li class="nav-item">
                                      <a class="nav-link black-text navLink" href="{% url 'cinema:user_profile' request.user.pk %}">Кабинет пользователя</a>
                                  </li>
                              {% else %}
                                  <li class="nav-item">
                                      <a class="nav-link black-text navLink" href="{% url 'cinema:registration' %}">Регистрация</a>
                                  </li>
                                    <li class="nav-item">
                                        <a class="nav-link black-text navLink" href="{% url 'cinema:login' %}">Вход</a>
                                    </li>
                              {% endif %}
                          </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<section style="margin-top:25px;">
    {% block content %}{% endblock %}
</section>

    <footer style="background-color:white;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>Мобильные приложения</h5>
                </div>
                <div class="col">
                    <h5>Афиша</h5>
                    <p class="mainPageFooterLink"><a href="">Расписание</a></p>
                    <p class="mainPageFooterLink"><a href="">Скоро в прокате</a></p>
                    <p class="mainPageFooterLink"><a href="">Кинотеатры</a></p>
                    <p class="mainPageFooterLink"><a href="">Акции</a></p>
                </div>
                <div class="col">
                    <h5>О кинотеатре</h5>
                    <p class="mainPageFooterLink"><a href="">Новости</a></p>
                    <p class="mainPageFooterLink"><a href="">Реклама</a></p>
                    <p class="mainPageFooterLink"><a href="">Кафе-бар</a></p>
                    <p class="mainPageFooterLink"><a href="">Контакты</a></p>
                </div>
            </div>
            <div class="row text-center" style="padding-bottom:15px;">
                <div class="col"><small class="text-muted">@Kinoteatr, 2021, All rights reserved</small></div>
            </div>
        </div>
    </footer>


<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script>
{% if OnTopBanner %}
    $('#carouselOnTopBanner').carousel({
      interval: {% if OnTopBanner.speed == 1 %}5000{% elif OnTopBanner.speed == 2 %}10000{% endif %}
    });
{% endif %}
</script>
</body>
</html>