{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cinema/index.css' %}">
    {% block style %}{% endblock %}

</head>
<body {% if BackgroundImage %} style="background: url({{ BackgroundImage.image.url }});"{% else %}style="background: url({% static 'images/default_background_image.jpg' %})" {% endif %}
class="d-flex flex-column min-vh-100">
{% if OnTopBanner %}
<div class="row" style="margin-right:0px;">
    <div id="carouselOnTopBanner" class="carousel slide" data-ride="carousel" style="width:100%;">
      <div class="carousel-inner">
            {% for image in OnTopBanner.images.all %}
                 <div class="carousel-item {% if forloop.first %}active{% endif %}">
                     <a href="{% if image.url %}{{ image.url }}{% endif %}">
                         <img src="{{ image.image.url }}" class="d-block w-100" alt="..." height="200">
                     </a>
                </div>
            {% endfor %}
      </div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row" style="align-items:center; margin-top:15px;">
        <div class="col-3">
            <div>
                <a href="{% url 'cinema:main_page' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="200" height="100" class="img-thumbnail"></a>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-3">
                    <div class="dropdown">
                      <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Поиск.." id="myInput">
                      </div>
                    </div>
                </div>
                <div class="col-1"><img src="{% static 'images/social/facebook.png' %}" alt="" width="40" height="40"></div>
                <div class="col-1"><img src="{% static 'images/social/twitter.png' %}" alt="" width="40" height="40"></div>
                <div class="col-1"><img src="{% static 'images/social/youtube.png' %}" alt="" width="40" height="40"></div>
                <div class="col-1"><img src="{% static 'images/social/instagram.png' %}" alt="" width="40" height="40"></div>
                <div class="col" style="{% if MainPage.phone_color %}color:black;{% else %}color: white;{% endif %}">
                    <div class="row">
                        <div class="col">
                            {{ MainPage.phone_number1 }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ MainPage.phone_number2 }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:15px;">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                        <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample10" style="">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:show_list_movies' %}">Афиша</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:showtime' %}">Расписание</a>
                            </li>
                              <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:show_list_movies_soon' %}">Скоро</a>
                            </li>
                              <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:cinema_list' %}">Кинотеатры</a>
                            </li>
                              <li class="nav-item">
                              <a class="nav-link black-text navLink" href="{% url 'cinema:list_ads' %}">Акции</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle black-text" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О кинотеатре</a>
                              <div class="dropdown-menu" aria-labelledby="dropdown10">
                                    <a class="dropdown-item" href="{% url 'cinema:list_news' %}">Новости</a>
                                    {% if Advertisement and Advertisement.description %}
                                    <a class="dropdown-item" href="{% url 'cinema:advertisement' %}">Реклама</a>
                                    {% endif %}
                                    {% if CafeBar and CafeBar.description%}
                                    <a class="dropdown-item" href="{% url 'cinema:cafe_bar' %}">Кафе</a>
                                    {% endif %}
                                    {% if MobileApp and MobileApp.description %}
                                    <a class="dropdown-item" href="{% url 'cinema:mobile_app' %}">Мобильные приложения</a>
                                    {% endif %}
                                    {% if VipHall and VipHall.description %}
                                        <a class="dropdown-item" href="{% url 'cinema:vip_hall' %}">Vip-залы</a>
                                    {% endif %}
                                    {% if ChildRoom and ChildRoom.description %}
                                        <a class="dropdown-item" href="{% url 'cinema:child_room' %}">Детские комнаты</a>
                                    {% endif %}
                                    {% if AboutCinema and AboutCinema.description %}
                                        <a class="dropdown-item" href="{% url 'cinema:about_cinema' %}">О нашей сети</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{% url 'cinema:contacts' %}">Контакты</a>
                              </div>
                            </li>
                              {% if request.user.is_authenticated %}
                                  <li class="nav-item">
                                      <a class="nav-link black-text navLink" href="{% url 'cinema:user_profile' request.user.pk %}">Кабинет пользователя</a>
                                  </li>
                              {% else %}
                                  <li class="nav-item">
                                      <a class="nav-link black-text navLink" href="{% url 'cinema:registration' %}">Регистрация</a>
                                  </li>
                                    <li class="nav-item">
                                        <a class="nav-link black-text navLink" href="{% url 'cinema:login' %}">Вход</a>
                                    </li>
                              {% endif %}
                          </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<section style="margin-top:25px;" class="flex-fill">
    {% block content %}{% endblock %}
</section>

    <footer style="background-color:white;">
        <div class="container">
            <div class="row">
                {% if MobileApp %}
                <div class="col">
                    <h5>Мобильные приложения</h5>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'cinema:mobile_app' %}"> <img src="{% static 'images/social/apple.png' %}" alt="Apple" width="120" height="50"></a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'cinema:mobile_app' %}"><img src="{% static 'images/social/google.png' %}" alt="Apple" width="120" height="50"></a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col">
                    <h5>Афиша</h5>
                    <p class="mainPageFooterLink"><a href="{% url 'cinema:showtime' %}">Расписание</a></p>
                    <p class="mainPageFooterLink"><a href="{% url 'cinema:show_list_movies_soon' %}">Скоро в прокате</a></p>
                    <p class="mainPageFooterLink"><a href="{% url 'cinema:cinema_list' %}">Кинотеатры</a></p>
                    <p class="mainPageFooterLink"><a href="{% url 'cinema:list_ads' %}">Акции</a></p>
                </div>
                <div class="col">
                    <h5>О кинотеатре</h5>
                    <p class="mainPageFooterLink"><a href="{% url 'cinema:list_news' %}">Новости</a></p>
                    <p class="mainPageFooterLink"><a href="{% url 'cinema:advertisement' %}">Реклама</a></p>
                    <p class="mainPageFooterLink"><a href="{% url 'cinema:cafe_bar' %}">Кафе-бар</a></p>
                    <p class="mainPageFooterLink"><a href="{% url 'cinema:contacts' %}">Контакты</a></p>
                </div>
            </div>
            <div class="row text-center" style="padding-bottom:15px;">
                <div class="col"><small class="text-muted">@Kinoteatr, 2021, All rights reserved</small></div>
            </div>
        </div>
    </footer>


<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'cinema/js/search.js' %}"></script>
<script>
{% if OnTopBanner %}
    $('#carouselOnTopBanner').carousel({
      interval: {% if OnTopBanner.speed == 1 %}5000{% elif OnTopBanner.speed == 2 %}10000{% endif %}
    });
{% endif %}
</script>
<script>
 $(document).ready(function(){
    let searchObj = new SearchEvent('{% url 'cinema:search' %}');
    searchObj.set_focus_event();   
 })
</script>
</body>
</html>