{% if Advertisement %}
<div class="row" style="margin-top:25px;">
    <div class="col">
        <div id="carouselAdvertisement" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in Advertisement.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    {% if width and height %}
                        <img src="{{ image.image.url }}" class="d-block{% if trigger %}contextAd{% endif %}" alt="..." height="{{height}}" width="{{width}}">
                    {% else %}
                        <img src="{{ image.image.url }}" class="d-block w-100 {% if trigger %}contextAd{% endif %}" alt="..." height="500" width="300">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}