{% extends 'base.html' %}

{% block title %}
    Movie
{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-10" style="text-align: center;">
            <h3>Список текущих фильмов</h3>
        </div>
        <div class="col-2">
            <a href="" class="btn btn-outline-primary">Добавить новый фильм</a>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="" alt="Movie">
            <h5>Movie</h5>
        </div>
    </div>
</div>
{% endblock %}