{% load static %}

<div class="row" id="formset">
    {% for form in formset %}
    <div class="col-3 formset">
        <div class="card card-default">
            <div class="card-header">
                <div class="card-tools">
                    {% if form.instance.pk %}
                    <a class="btn btn-tool" style="padding: 0;"
                       href="{{ form.instance.get_delete_url }}">&#10006</a>
                    {% else %}
                    <a class="btn btn-tool" style="padding: 0;"
                       href="">&#10006</a>
                    {% endif %}
                </div>
                {% if form.instance.image %}
                    <img src="{{form.instance.image.url}}" alt="" width="250" height="200" class="card-img-top"
                    name='{{ formset.prefix }}_image_preview_{{ forloop.counter0 }}'>
                {% else %}
                    <img src="{% static 'images/default_form_image.png' %}" alt="" width="250" height="200"
                    class="card-img-top" name='{{ formset.prefix }}_image_preview_{{ forloop.counter0 }}'>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {{form}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/update_img_after_upload.js' %}"></script>
<script>
    let prefix = '{{ formset.prefix }}' 
    let total = parseInt($('#id_'+prefix+'-TOTAL_FORMS').val());
    let forms = $('.formset');

    for(form of forms){ // iterate over all forms
        let index = forms.index(form); // get elements index in forms list
        $(form).find(':input[class="upload"]').on('change', function(){
            setPreview(this, index, '{{ formset.prefix }}'); // set onChange function for all input in formset with class = "upload"
        })
    }
</script>
