{% extends 'cinema_base.html' %}
{% load static %}

{% block style %}
<meta name="url" content="{{ seo.seo_url }}">
<meta name="title" content="{{ seo.seo_title }}">
<meta name="description" content="{{ seo.seo_description }}">
<meta name="keywords" content="{{ seo.seo_keywords }}">
{% endblock %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<div class="container-fluid">
{% include 'about_cinema_context.html' %}

    <div class="row">
        <div class="col-10" style="background-color: white; padding-top:50px; padding-bottom:25px;">
            {% for contact in contacts %}
                <div class="row" style="margin-top:50px; border: 1px solid;">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6" style="text-align:center;">
                                <h4>{{contact.cinema.name}}</h4>
                            </div>
                            <div class="col-6">
                                <img src="{{ contact.cinema.logo.url }}" alt="logo" class="img-thumbnail"
                                width="200" height="200">
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col" style="text-align:center;">
                                 <img src="{{ contact.cinema.on_top_banner.url }}" alt="logo" class="img-fluid"
                                width="500">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            {{ contact.address|safe }}
                        </div>
                        <div>
                            {{ contact.map|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-2" style="background-color:white;">
            {% include 'context_ads.html' with trigger=False %}
        </div>
    </div>
</div>
<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'cinema/js/recursive_change_color.js' %}"></script>
{% endblock %}