{% extends 'cinema_base.html' %}
{% load static %}

{% block title %}
{% if ad %}
Акции
{% elif news %}
Новости
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include 'about_cinema_context.html' %}

    <div class="row">
        <div class="col-10" style="background-color: #182029;">
            <h4 style="color: white; text-align:center;">
                {% if ad %}
                    Акции
                {% elif news %}
                    Новости
                {% endif %}
            </h4>
            <div class="row">
                {% for card in object_list %}
                    <div class="col-3" style="text-align:center;">
                        <div><a href="{{ card.get_absolute_public_url }}"><img src="{{ card.main_image.url }}" alt="" width="250" height="250" style="border-radius: 20px;"></a></div>
                        <div><a href="{{ card.get_absolute_public_url }}" style="color: white;">{{ card.title }}</a></div>
                        <h5 style="color:white;">{{ card.publication_date }}</h5>
                        <div style="color: white!important; text-align:left;" class="desc">
                            {{ card.description |truncatewords_html:12|safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
                <div class="row" style="margin-top:50px;">
                    <div class="col offset-5">
                        {% include 'pagination.html' %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-2" style="background-color: white;">
            {% include 'context_ads.html' with trigger=False %}
        </div>
    </div>
</div>
<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.desc').each(function(){
            $(this).children().each(function(){
                recursiveIteration(this);
            })
        })
    })

    function recursiveIteration(elem){
        if($(elem).children().length <1){
            setColor(elem);
        }else{
            for(child of $(elem).children()){
                recursiveIteration(child);
            }
        }
    }

    function setColor(elem){
        $(elem).css('color', 'white');
    }
</script>
{% endblock %}