{% load static %}

<div class="row">
    <div class="col" style="text-align: center;">
        <h3>Верхний баннер на главной странице</h3>
    </div>
</div>
<form enctype="multipart/form-data" action="{% url 'admin_panel:save_on_top_banner' %}" method="post">
    {% csrf_token %}
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-2 offset-10">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" name="status"
                               {% if on_top_banner.status %} checked {% endif %}>
                        <label class="custom-control-label" for="customSwitch1">Выкл/Вкл</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                {{ on_top_banner_form_set.management_form }}
                {% for form in on_top_banner_form_set %}
                <div class="col-3 forms" id="{{form.prefix}}-row">
                    <div class="card card-default">
                        <div class="card-header">
                            <div class="card-tools">
                                {% if form.instance.pk %}
                                <a class="btn btn-tool" style="padding: 0;"
                                   href="{% url 'admin_panel:delete_on_top_banner' form.instance.pk %}">&#10006</a>
                                {% else %}
                                <a class="btn btn-tool delete-row" style="padding: 0;"
                                   href="javascript:void(0)">&#10006</a>
                                {% endif %}
                            </div>
                            {% if form.instance.image %}
                            <img src="{{ form.instance.image.url }}" alt="" width="200" height="100">
                            {% else %}
                            <img src="{% static 'images/default_form_image.png' %}" alt="" width="200" height="100">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {{form.id}}
                            <div class="form-group form-inline">
                                <input type="file" class="form-control-file btn btn-light"
                                       name="on_top-{{forloop.counter0}}-image"
                                onchange="readURLOld(this)">
                            </div>
                            <div class="form-group form-inline">
                                <label for="urlId-{{ form.instance.pk }}">URL:</label>
                                <input type="text" placeholder="URL" id="urlId-{{ form.instance.pk }}"
                                       name="on_top-{{forloop.counter0}}-url"
                                       value="{% if form.instance.url %}{{ form.instance.url }}{% endif %}">
                            </div>
                            <div class="form-group form-inline">
                                <label for="textId-{{ form.instance.pk }}">Текст:</label>
                                <input type="text" placeholder="Текст" id="textId-{{ form.instance.pk }}"
                                       name="on_top-{{forloop.counter0}}-text"
                                       value="{{ form.instance.text }}">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-5">
                    <div class="form-group form-inline">
                        <label for="speedId" style="margin-right: 10px;">Скорость вращения: </label>
                        <select name="speed" id="speedId" class="form-control">
                            <option value="1" {% if on_top_banner.speed == 1 %}selected{% endif %}>5s</option>
                            <option value="2" {% if on_top_banner.speed == 2 %}selected{% endif %}>10s</option>
                        </select>
                    </div>
                </div>
                <div class="col-7">
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/jquery.formset.js' %}"></script>
<script src="{% static 'admin_panel/js/checkbox_handling.js' %}"></script>
<script src="{% static 'admin_panel/js/banners/update_img_after_upload.js' %}"></script>

<script>
        $('.card-body .row .forms').formset({
        addText: 'Add new subtask',
        deleteText: '',
        addCssClass: 'btn btn-outline-secondary',
        prefix: '{{on_top_banner_form_set.prefix}}'
    });
</script>
<script>
    // {% for form in on_top_banner_form_set %}
    //     $("#image_upload-{{form.prefix}}").change(function() {
    //         readURL(this, '{{form.prefix}}');
    //     });
    // {% endfor %}
</script>

