{% extends 'base.html' %}
{% load static %}

{% block title %}О кинотеатре{% endblock %}

{% block header %}
{% if form.errors %}
    {% include 'errors.html' with errors=form.errors %}
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h4>Редактирование информации о кинотеатре</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-default">
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row" style="align-items:center;">
                                <div class="col-7 limit_width">
                                    <label for="adName">Заголовок</label>
                                    {{form.title}}
                                </div>
                                <div class="col-5" style="margin-top: 30px;">
                                    <div class="custom-control custom-switch">
                                        {{ form.status }}
                                        <label class="custom-control-label" for="status">Выкл/Вкл</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Текст</label>
                            {{form.description}}
                        </div>
                        <div class="form-group">
                            <label for="main_image">Верхний баннер</label>
                            <div class="row align-items-center">
                                <div class="col-3">
                                    {% if object.main_image %}
                                    <img src="{{form.instance.main_image.url}}" alt="Постер" id="show_main_image"
                                         width="250" height="200" name="about_image_preview_1">
                                    {% else %}
                                    <img src="{% static 'images/default_form_image.png' %}" alt="Постер"
                                         id="show_main_image" name="about_image_preview_1"
                                         width="250" height="200">
                                    {% endif %}
                                </div>
                                <div class="col-9">
                                    {{form.main_image}}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="formset">Галлерея</label>
                            {{formset.management_form}}
                            {% include 'formset_template.html' %}
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="">Seo</label>
                            {% include 'seo.html' with form=seo_form %}
                        </div>

                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'admin_panel/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/update_img_after_upload.js' %}"></script>
<script>
    $("#main_image").change(function () {
        setPreview(this, '1', 'about'); // set onchange function
    });


</script>
{% endblock %}
