.black-text{
    color: black!important;
}

.contextAd{
    height: 150px;
    width: 60%!important;
    margin: auto;
}

.mainPageFooterLink{
    margin-bottom: 0px;
}
.navLink{
	color:black;
}
.navLink:hover{
    text-decoration: underline;
}
